@model IEnumerable<HardwarePC.Data.Model.CartItem>

@{ ViewBag.Title = "Carrito de Compras"; }

<h2>Carrito de compras</h2>

<table id="tablaProductos">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Cookie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartId)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.Cookie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


@Html.ActionLink("Finalizar Compra", "../Order/Index", new { CartId = 5 })





